<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>hello</h1>
   <form action="/favorite-quotes" method="GET">
    <input type="submit" value="go to favs">
    </form>
   <section>
       <% data.forEach (item =>{ %>
        <section>
            <img src="<%= item.image %>  " alt="">
            <h2><%=  item.character %> </h2>
            <h3><%= item.quote %> </h3>
            <form action="/add" method="POST">
                <input type="hidden" name="image" id="image" value="<%=item.image%>">
                <input type="hidden" name="character" id="character" value="<%=item.character%>">
                <input type="hidden" name="quote" id="quote" value="<%=item.quote%>">
                <input type="hidden" name="characterDirection" id="characterDirection" value="<%=item.characterDirection%>">
                <input type="submit" value="add to favorites" >
            </form>
        </section>
           
    <%   }); %> 
   </section>
</body>
</html>